<div class="container">

  <ul class="nav nav-pills">
    {{#nav-link-to 'index'}}Home{{/nav-link-to}}
    {{#nav-link-to  'basics'}}Basics{{/nav-link-to}}
    {{#nav-link-to  'chart'}}Chart.js{{/nav-link-to}}
    {{#nav-link-to  'chart2'}}D3.js{{/nav-link-to}}
  </ul>

  {{outlet}}

</div>